node_modules/
.expo/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*

# Android artifacts
*.apk
*.aab
*.dex
# android/ (removed to allow commit for Android Studio)

# iOS artifacts
ios/
*.ipa
*.app
*.dSYM/
build/